###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    Xpresion = "Xpresion::"
    RegExp = "RegExp::"
@

plugins =[{}]
    "minify" = "!plg:minify"
    #"doc" = "!plg:doc"
@

tasks =[{}]

    build =[{}]

        src =[]
            ### SciLite.js ###
            ./src/header.js

            # Core
            ./src/core/utils.js
            ./src/core/ops.js
            ./src/core/math.js
            ./src/core/figure.js

            # Prebuilt Functions
            # Core
            ./src/fn/core/generic.js

            ./src/fn/math/real.js
            ./src/fn/math/complex.js

            ./src/fn/core/real.js
            ./src/fn/core/imag.js
            ./src/fn/core/conj.js
            ./src/fn/core/abs.js
            ./src/fn/core/angle.js
            ./src/fn/core/norm.js

            ./src/fn/core/zeros.js
            ./src/fn/core/ones.js
            ./src/fn/core/eye.js
            ./src/fn/core/rand.js
            ./src/fn/core/randi.js
            ./src/fn/core/randn.js
            ./src/fn/core/magic.js
            ./src/fn/core/pascal.js
            ./src/fn/core/rosser.js
            ./src/fn/core/vander.js
            ./src/fn/core/toeplitz.js
            ./src/fn/core/hankel.js
            ./src/fn/core/hadamard.js
            ./src/fn/core/hilb.js
            ./src/fn/core/linspace.js
            ./src/fn/core/logspace.js
            ./src/fn/core/meshgrid.js
            ./src/fn/core/ndgrid.js

            ./src/fn/core/colon.js
            ./src/fn/core/cat.js
            ./src/fn/core/transpose.js
            ./src/fn/core/diag.js
            ./src/fn/core/blkdiag.js
            ./src/fn/core/tril.js
            ./src/fn/core/triu.js
            ./src/fn/core/repmat.js
            ./src/fn/core/repelem.js
            ./src/fn/core/reshape.js
            ./src/fn/core/squeeze.js
            ./src/fn/core/rot90.js
            ./src/fn/core/flip.js
            ./src/fn/core/sort.js

            ./src/fn/core/min.js
            ./src/fn/core/max.js
            ./src/fn/core/sum.js
            ./src/fn/core/prod.js
            ./src/fn/core/dot.js
            ./src/fn/core/cross.js
            ./src/fn/core/kron.js
            ./src/fn/core/diff.js
            ./src/fn/core/trapz.js
            ./src/fn/core/cum.js
            ./src/fn/core/mov.js
            ./src/fn/core/bit.js

            ./src/fn/core/size.js
            ./src/fn/core/length.js
            ./src/fn/core/ndims.js
            ./src/fn/core/numel.js
            ./src/fn/core/rows.js
            ./src/fn/core/columns.js
            ./src/fn/core/sub2ind.js

            ./src/fn/core/find.js
            ./src/fn/core/all.js
            ./src/fn/core/any.js
            ./src/fn/core/isequal.js
            ./src/fn/core/isnan.js
            ./src/fn/core/isinf.js
            ./src/fn/core/isfinite.js
            ./src/fn/core/isreal.js
            ./src/fn/core/isempty.js

            # Linear Algebra
            ./src/fn/linalg/common.js
            ./src/fn/linalg/planerot.js
            ./src/fn/linalg/rref.js
            ./src/fn/linalg/linsolve.js
            ./src/fn/linalg/null.js
            ./src/fn/linalg/rowspace.js
            ./src/fn/linalg/colspace.js
            ./src/fn/linalg/rank.js
            ./src/fn/linalg/inv.js
            ./src/fn/linalg/pinv.js
            ./src/fn/linalg/cond.js
            ./src/fn/linalg/trace.js
            ./src/fn/linalg/det.js
            ./src/fn/linalg/charpoly.js
            ./src/fn/linalg/adjoint.js
            ./src/fn/linalg/balance.js
            ./src/fn/linalg/hess.js
            ./src/fn/linalg/ldl.js
            ./src/fn/linalg/chol.js
            ./src/fn/linalg/lu.js
            ./src/fn/linalg/qr.js
            ./src/fn/linalg/schur.js
            #./src/fn/linalg/qz.js
            ./src/fn/linalg/eig.js
            ./src/fn/linalg/svd.js
            ./src/fn/linalg/hermiteForm.js
            ./src/fn/linalg/smithForm.js
            ./src/fn/linalg/sqrtm.js
            ./src/fn/linalg/expm.js
            #./src/fn/linalg/logm.js

            # Independent Component/Subspace Analysis
            #./src/fn/ica/jade.js

            # Statistics
            ./src/fn/stats/erf.js
            ./src/fn/stats/mean.js
            ./src/fn/stats/median.js
            ./src/fn/stats/mode.js
            ./src/fn/stats/moment.js
            ./src/fn/stats/std.js
            ./src/fn/stats/var.js
            ./src/fn/stats/cov.js
            ./src/fn/stats/corrcoef.js
            ./src/fn/stats/corr.js
            ./src/fn/stats/tiedrank.js
            ./src/fn/stats/pdist.js
            ./src/fn/stats/squareform.js

            # Machine Learning
            ./src/fn/ml/kmeans.js
            ./src/fn/ml/pwcdanneal.js
            #./src/fn/ml/isodata.js

            # Digital Signal Processing
            ./src/fn/dsp/conv.js
            ./src/fn/dsp/deconv.js
            ./src/fn/dsp/conv2.js
            ./src/fn/dsp/filter.js
            ./src/fn/dsp/fft.js
            ./src/fn/dsp/fft2.js

            # Polynomials
            ./src/fn/polys/common.js
            ./src/fn/polys/polydiv.js
            ./src/fn/polys/polyval.js
            ./src/fn/polys/polyvalm.js
            ./src/fn/polys/polyfit.js
            ./src/fn/polys/roots.js
            ./src/fn/polys/compan.js
            ./src/fn/polys/poly.js

            # Geometry
            ./src/fn/geom/cart2pol.js
            ./src/fn/geom/pol2cart.js
            ./src/fn/geom/cart2sph.js
            ./src/fn/geom/sph2cart.js
            ./src/fn/geom/polyarea.js
            ./src/fn/geom/convhull.js

            # Number Theory
            ./src/fn/ntheory/mod.js
            ./src/fn/ntheory/gcd.js
            ./src/fn/ntheory/lcm.js
            ./src/fn/ntheory/factor.js

            # Combinatorics
            ./src/fn/comb/randperm.js
            ./src/fn/comb/perms.js
            ./src/fn/comb/combinations.js

            # Strings
            ./src/fn/str/string.js
            ./src/fn/str/strlength.js
            ./src/fn/str/char.js
            ./src/fn/str/lower.js
            ./src/fn/str/upper.js
            ./src/fn/str/dec2bin.js
            ./src/fn/str/bin2dec.js
            ./src/fn/str/dec2hex.js
            ./src/fn/str/hex2dec.js

            # Plots, optional
            # added as plugins via 3rd-party implementations

            # Interpreter, optional
            ./src/interpreter/interpreter.js

            ./src/footer.js
        @

        # extract header from this file
        header = ./src/header.js

        replace =[{}]
            "@@VERSION@@" = "0.9.11"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
        @

        ## extract documentation
        #doc ={}
        #    "startdoc" = "/**[DOC_MD]"
        #    "enddoc" = "[/DOC_MD]**/"
        #    "trim" = RegExp::^\s*\*[ ]?
        #    "output" = "./manual.md"
        #@

        out = ./build/SciLite.js
    @

    minify =[{}]

        src =[]
            ./build/SciLite.js
        @

        # Minify the Package (map of lists)
        minify ={}
            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
        @

        out = ./build/SciLite.min.js
    @
@
